* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgFrame {
  height: 150px;
  border: 3px solid gray;
  border-style: dashed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 3rem;
}

.modal-dialog {
  width: max-content !important;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.-left-10 {
  left: -10%;
}
.-right-10 {
  right: -10%;
}
.-top-10 {
  top: -10%;
}
.-bottom-10 {
  bottom: -10%;
}

.transition {
  transition: all;
  transition-duration: 500;
}
#react-select-2-listbox {
  background-color: rgb(34, 33, 33);
}